.app-container {
  background-color: white;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  justify-content: flex-start;
  align-items: stretch;
}

#nav {
  background-color: #fbfbfb;
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 300px;
  box-shadow: -1px 1px 12px 0px rgb(0 0 0 / 35%);
  z-index: 100;
  justify-content: center;
}

.nav-container {
  padding: 10px;
  display: flex;
  flex-flow: column wrap;
  /* border: 2px red solid; */
  flex: 1 1 auto;
  gap: 20px;
}

.page-container {
  /* background-color: green; */
  display: flex;
  flex-flow: row wrap;
  flex: 5 1 auto;
  justify-content: center;
}

.page {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
}

.page-inner {
  display: flex;
  flex-flow: row nowrap;
  border: 2px blue solid;
  flex: 0 0 60%;
  gap: 20px;
}

.logo-container {
  /* border: 2px red solid; */
  flex: 2 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo img {
  max-height: 100px;
}

.title-container {
  /* border: 2px red solid; */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
}

.list-container {
  /* border: 2px red solid; */
  flex: 6 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 10%;
}

.list-container ul {
  list-style: none;
  padding: 0;
}

.left-container {
  border: 2px red solid;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

.right-container {
  border: 2px red solid;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  display: flex;
  flex: 1 1 auto;
}

.box {
  background: white;
  height: 100px;
  width: 100px;
}