/* App */

.app-container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}


/* Nav Bar */

.nav-container { 
  display: flex;
  padding: 10px;
  flex: 0 1 300px;
  min-width: 150px;
  box-shadow: -1px 1px 12px 0px rgb(0 0 0 / 35%);
  z-index: 100;
  background: #ededed;
}

.nav-inner {
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
}

.nav-inner > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.logo-container {
  flex: 2 2 150px;
  justify-content: center;
  /* padding: 10px; */
}

.title-container {
  flex: 1 1 75px;
  justify-content: center;
  padding: 10px;
}

.list-container {
  flex: 4 4 500px;
  justify-content: flex-start;
  padding: 30px 10px;
}

.logo {
  display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.logo img {
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: 100px;
}


/* Body Base */

.page-container {
  display: flex;
  padding: 10px;
  flex: 1 1 1000px;
  flex-flow: column nowrap;
  justify-content: center;

}

.page-container > div {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.page-inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex: 0 1 600px;
  gap: 40px;
}

/* Single Pages */

.page-container:has(.home-container) {
  background-image: url(./assets/natalie-background.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

.left-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 300px;
}

.right-container {
  display: flex;
  flex: 1 1 300px;
}

.text-box {
  padding: 15px;
  background: #fff;
}

.about-pic {
  display: flex;
}

.about-pic img {
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
  max-height: fit-content;
}

.icon-box {
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: space-around;
  aspect-ratio: 1 / 1;
}
.service-icon {
  padding: 5px;
  background: #222;
  width: 60px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-icon:hover {
  background: #111;
  box-shadow: -1px 1px 12px 0px rgb(0 0 0 / 35%);

}

.project-box {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  justify-content: space-around;
  /* aspect-ratio: 1 / 1; */
}
.project-image {
  flex: 1 1 auto;
  
  display: flex;
}

.project-image.wide {
  aspect-ratio: 3 / 2;
}
.project-image.tall {
  aspect-ratio: 2 / 3;
}
.project-image img {
  max-height: 135px;
  max-width: 135px;
  flex: 1 1 auto;
}
/* Text Format */

ul, li, h1, h2, h3, h4, a, p {
  padding: 0;
  margin: 0;
}

p, h2, h4, li {
  font-family: "Dosis", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}

h1, h3 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-optical-sizing: auto;
}

h1.ital, h3.ital {
  font-style: italic;
}

p {
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 400;
  color: #222;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  line-height: 65px;
  padding-bottom: 5px
}

h2 {
  padding-bottom: 15px;
  font-weight: 600;
}

h3 {
  padding-bottom: 5px;
  font-weight: 600;
}

h4 {
  padding-bottom: 5px;
  font-weight: 500;
}

.home-container h1 {
  color: #fff;
}

.list-container ul {
  list-style: none;
}

.list-container li {
  padding: 5px 0;
}

a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

p:last-child, li:last-child {
  padding: 0;
}

span.small {
  font-size: 75%;
}

/* Mobile */

@media only screen and (max-width: 768px) {
  .app-container {
    flex-flow: column nowrap;
  }

  .nav-container {
    align-items: flex-start;
    flex: 1 0 100px;
    box-shadow: none;
  }

  .nav-inner {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 auto;
  }

  .logo-container {
    flex: 1 1 100px;
  }
  
  .title-container {
    flex: 2 1 200px;
  }
  
  .list-container {
    padding: 10px;
    flex: 3 0 300px;
  }

  .list-container ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .list-container li {
    margin: 0;
    padding: 0;
  }

  .page-container {
    justify-content: flex-start;
  }

  .page-inner {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    flex: 0 1 275px;
    gap: 20px;
  }

  .page-container:has(.home-container) {
    background-position: 30% 20%;
  }
  
  .left-container {
    flex: 1 0 150px;
    align-items: flex-start;
  }

  .right-container {
    flex: 2 0 200px;
  }
  h1 {
    font-size: 70px;
    line-height: 55px;
  }
}